@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


/* ALL */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection {
    color: #fff;
    background-color: #E0163D;
}

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: #E0163D;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: beige;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}


/* FOR BUTTONS DELETE UPDATE AND VIEW  */

.btn,
.delete-btn,
.option-btn {
    display: block;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: #fff;
    padding: 5px 24px;
    text-transform: capitalize;
    text-align: center;
}

.btn {
    background-color: #FA8003;
}

.delete-btn {
    background-color: #e74c3c;
}

.option-btn {
    background-color: #FA8003;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: #231F20;
}

.flex-btn {
    display: flex;
    gap: 1px;
}


.message {
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FA8003;
    border: 2px solid #231F20;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 1px;
    justify-content: space-between;
}

.message span {
    font-size: 20px;
    color: #fff;
}

.message i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.message i:hover {
    color: #E0163D;
}

/* TITLE */

.heading {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 20px;
    text-transform: capitalize;
    color: #231F20;
    font-size: 24px;
}

/* PLACED ORDERS NOTE */
.heading span {
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #e74c3c;
    font-size: 12px;
    font-weight: 600;
}




/* SEACH FOR MENU */
.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.search-form input[type="text"]::placeholder {
    color: #231F20;
}

.search-form input[type="text"] {
    border: none;
    border-bottom: 3px solid #777;
    padding: 5px 10px;
    font-size: 20px;
    transition: border-bottom .3s;
}

.search-form input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #E0163D;
}

.search-form button {
    border: 2px solid #E0163D;
    border-radius: 5px;
    background-color: #E0163D;
    font-size: 20px;
    height: 38px;
    width: 40px;
    color: #fff;
    transition: color .3s;
}

.search-form button:hover {
    color: #231F20;
}

/* PAGINATION */
.pagination-container {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 0;
    padding: 0;
    border: 1px solid #dee2e6;
    font-size: 16px;
}

.pagination li.active {
    background-color: #E0163D;
    color: #fff;
    border: 1px solid #E0163D;
    width: 50px;
    height: 40px;
    padding: 10px;
    text-align: center;
}

.pagination li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    width: 50px;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: #222;
}

.pagination li a:hover {
    background-color: #e9ecef;
    color: #E0163D;
}

/* KAPAG WALANG LAMAN LAHAT ANG EXAMPLE USERS / ADMINS / PRODUCTS */

.empty {
    border: 1.6px solid #231F20;
    border-radius: 4px;
    background-color: #fff;
    padding: 14px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    color: #e74c3c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

/* FORM LOGIN AND REGISTER */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container form {
    background-color: #fff;
    border-radius: 4px;
    border: 1.6px solid #231F20;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    padding: 50px;
    text-align: center;
    width: 400px;
}

.form-container form h3 {
    font-size: 40px;
    color: #231F20;
    text-transform: capitalize;
    margin-bottom: 1px;
}

.form-container form p {
    margin: 1px 0;
    font-size: 16px;
    color: #999;
}

.form-container form p span {
    color: #E0163D;
}

.form-container form .box {
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 11.2px;
    color: #231F20;
    margin: 10px 0;
    border: 1.6px solid #231F20;
    font-size: 15px;
    border-radius: 4px;
}

/* HEADER IN ALL PAGE */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E0163D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    z-index: 1000;
    border-bottom: 1.6px solid #231F20;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 24px;
    color: #fff;
}

.header .flex .navbar a {
    margin: 0 8px;
    font-size: 16px;
    color: #fff;
}

.header .flex .navbar a:hover {
    color: #231F20;
    text-decoration: underline;
}

.header .flex .icons>* {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-left: 13.6px;
}

.header .flex .icons>*:hover {
    color: #231F20;
}

.header .flex .profile {
    position: absolute;
    top: 125%;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1.6px solid #231F20;
    border-radius: 4px;
    padding: 16px;
    padding-top: 1px;
    width: 240px;
    display: none;
    animation: fadeIn .2s linear;
}

@keyframes fadeIn {
    0% {
        transform: translateY(1px);
    }
}

.header .flex .profile p {
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 20px;
    text-align: center;
    color: #231F20;
}

.header .flex .profile.active {
    display: inline-block;
}

#menu-btn {
    display: none;
}

/* DASHBOARD */

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* change to three columns */
    grid-template-rows: repeat(2, 1fr);
    /* add two rows */
    gap: 14px;
    align-items: flex-start;
}

.dashboard .box-container .box {
    text-align: center;
    background-color: #fff;
    border: 1.6px solid #231F20;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    text-align: center;
    padding: 50px;
}

.dashboard .box-container .box h3 {
    font-size: 30px;
    color: #231F20;
}

.dashboard .box-container .box h3 span {
    font-size: 25px;
}

.dashboard .box-container .box p {
    padding: 14px;
    border-radius: 4px;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
    border: 1.6px solid #E0163D;
    margin: 1px 0;
    color: #231F20;
}

/* ADD PRODUCTS */

.add-products form {
    margin: 0 auto;
    max-width: 450px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1.6px solid #231F20;
    padding: 16px;
    text-align: center;
}

.add-products form h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #231F20;
    text-transform: capitalize;
}

.add-products form .box {
    background-color: #f5f5f5;
    border: 1.6px solid #231F20;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #231F20;
    border-radius: 50px;
    margin: 5px 0;
}

/* SHOW / VIEW PRODUCTS */

.show-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 14px;
    justify-content: center;
    align-items: flex-start;
}

.show-products .box-container .box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1.6px solid #231F20;
    padding: 20px;
}

.show-products .box-container .box img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 1px;
}

.show-products .box-container .box .name {
    font-size: 16px;
    font-weight: 900;
    color: #231F20;
    padding: 1px 0;
}

.show-products .box-container .box .flex {
    display: flex;
    align-items: center;
    gap: 1px;
    justify-content: space-between;
}

.show-products .box-container .box .flex .category {
    font-size: 16px;
    font-weight: 900;
    color: #E0163D;
}

.show-products .box-container .box .flex .price {
    font-size: 20px;
    color: #231F20;
    margin: 4px 0;
}

.show-products .box-container .box .flex .price span {
    font-size: 14px;
}


/* UPDATE PRODUCT */

.update-product form {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1.6px solid #231F20;
    padding: 16px;
}

.update-product form img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.update-product form .box {
    background-color: #f5f5f5;
    border: 1.6px solid #231F20;
    width: 100%;
    padding: 11.2px;
    font-size: 14.4px;
    color: #231F20;
    border-radius: 4px;
    margin: 1px 0;
}

.update-product form textarea {
    height: 120px;
    resize: none;
}

.update-product form span {
    font-size: 13.6px;
    color: #231F20;
}

/* PLACED ORDERS */

.placed-orders .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.placed-orders .box-container .box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 2px solid #231F20;
    padding: 20px;
    padding-top: 10px;
}

.placed-orders .box-container .box p {
    padding: 7px 0;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 700;
    color: #231F20;
}

.placed-orders .box-container .box p span {
    font-size: 15px;
    font-weight: 900;
    color: #E0163D;
}

.placed-orders .box-container .box .drop-down {
    width: 100%;
    margin: 10px 0;
    background-color: #999;
    padding: 10px 14px;
    font-size: 20px;
    color: #231F20;
    border: 1.6 solid #231F20;
    border-radius: 5px;
}

/* DELETE BUTTON ALL */
.delete-all-container {
    margin-top: 20px;
    text-align: center;
}

.delete-all-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* ACCOUNTS */

.accounts .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.accounts .box-container .box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 2px solid #231F20;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
}

.accounts .box-container .box p {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 900;
    color: #231F20;
}

.accounts .box-container .box p span {
    color: #E0163D;
}

/* MESSAGES */

.messages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 14px;
    justify-content: center;
    align-items: flex-start;
}

.messages .box-container .box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1.6px solid #231F20;
    padding: 16px;
    padding-top: 1px;
}

.messages .box-container .box p {
    padding: 5px 0;
    font-size: 16px;
    color: #231F20;
}

.messages .box-container .box p span {
    color: #E0163D;
}


















/* MEDIA QUERIES FOR RESPONSIVE */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    .dashboard .box-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .dashboard .box-container .box {
        padding: 30px;
    }

    .dashboard .box-container .box h3 {
        font-size: 24px;
    }

    .dashboard .box-container .box h3 span {
        font-size: 20px;
    }

    .dashboard .box-container .box p {
        padding: 10px;
        font-size: 14px;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 1.6px solid #231F20;
        border-bottom: 1.6px solid #231F20;
        background-color: #E0163D;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 16px;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .heading {
        font-size: 24px;
    }

    .show-products .box-container {
        grid-template-columns: 1fr;
    }

    .placed-orders .box-container {
        grid-template-columns: 1fr;
    }

    .accounts .box-container {
        grid-template-columns: 1fr;
    }

}